.circle {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    border-radius: 50%;
    position: relative;
    top: 70px;
    left: 90px;
    border: 10px solid white;
}
.rectangle {
    width: 300px;
    height: 200px;
    background-color: darkmagenta;
    border-radius: 0px 0px 20px 20px;
}
