* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 400px;
    height: 400px;
    margin: 10px;
    background-color: rgb(55, 223, 55);
}
@media screen and (orientation : portrait) {
    .container{
      border-radius: 0%;
   }
}
@media screen and (orientation : landscape) {
    .container{
      border-radius: 20px;
   }
}
