* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 20px;
}
@media screen and (width < 500px){
    p{
      text-align: center;
   }
}
@media screen and (width > 500px){
    p{
      text-align: left;
   }
}