* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (width < 400px){
    h1{
      font-size: 20px;
   }
}
@media screen and (width >= 400px) and (width <= 900px) {
    h1 {
        font-size: 28px;
    }
}
@media screen and (width > 900px){
    h1{
      font-size: 36px;
   }
}