* {
    font-family: Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 3000px;
    /* padding-top: 0px; */
}
.header {
    height: 30px;
    text-align: center;
    color: rgb(241, 217, 63);
    background-color: rgb(74, 71, 19);
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 13px;
}
/*section {
    width: 100%;
    position: sticky;
    top: 0;
}*/
.summary1 {
    height: 50px;
    padding: 30px;
    position: sticky;
    top: 0;
    font-size: 25px;
    color: white;
    background-color: #2cfc03;
    text-align: center;
    margin-top: 0px;
}
.summary2 {
    height: 50px;
    padding: 30px;
    font-size: 25px;
    position: sticky;
    top: 0;
    color: white;
    background-color: #8a414f;
    text-align: center;
    margin-top: 0px;
}
.summary3 {
    height: 50px;
    padding: 30px;
    font-size: 25px;
    position: sticky;
    top: 0;
    color: white;
    background-color: #5f76eb;
    text-align: center;
    margin-top: 0px;
}
.summary4 {
    height: 50px;
    padding: 30px;
    font-size: 25px;
    position: sticky;
    top: 0;
    color: white;
    background-color: #f592d4;
    text-align: center;
    margin-top: 0px;
}
.p {
    text-align: justify;
    padding: 20px;
}
