* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 600px;
    border: 2px solid red;
    padding: 0; 
    background-color: #e8e8e9; 
}
.flex-child {
    background-color: #8cacea; 
    width: 100px; 
    height: 100px; 
    margin: 8px; 
    padding: 4px; 
}
.item-1 {
    flex-basis: 100px;
}
.item-2  {
    flex-basis: 200px;
}
.item-3  {
    flex-basis: auto;
}