* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    width: 150px;
    height: 80px;
    color: #000;
    border-radius: 20px;
    margin: 20px;
}
@media screen and (orientation : portrait) {
    button{
      background-color: orange;
   }
}
@media screen and (orientation : landscape) {
    button{
      background-color: teal;
   }
}