
.container {
  display: flex;
  justify-content: space-evenly;
 /* height: 600px;*/
  /*width: 600px;*/
  border: 1px solid red;
  padding: 0; 
  background-color: #e8e8e9; 
}
.item { 
  background-color: #8cacea; 
  width: 100px; 
  height: 100px; 
  margin: 8px; 
  padding: 4px; 
}
.item-2 {
  order: -1;
}